<!DOCTYPE html>
<html>
<head>
<title>Date Difference</title>
</head>

<body style="font-family:Arial; background:#f2f2f2;">

<div style="width:300px; margin:120px auto; text-align:center; border:2px solid black; background:teal; padding:20px; color:white;">

<h3>Enter the date details</h3>

<form method="POST">

Date1: <input type="text" name="dt1"><br><br>
Month1: <input type="text" name="m1"><br><br>
Year1: <input type="text" name="year1"><br><br>

Date2: <input type="text" name="dt2"><br><br>
Month2: <input type="text" name="m2"><br><br>
Year2: <input type="text" name="year2"><br><br>

<input type="submit" value="Submit">

</form>

{% if difference is not none %}
<h3>Difference in days: {{ difference }}</h3>
{% endif %}

</div>

</body>
</html>